/*========================
Declare variables for page
=========================*/
:root {
    /*color scheme*/
    --text-color: #000;

  
    /*font and text*/

  }
  
  /*======================================
  Back to Basics - reset browser defaults
  =======================================*/
  html,
  body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 12px; /*mobile first design - change to 16px for views >1024px*/
  }
  
  /*set global styles*/
  body * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  /*====================
  Text and Font Styling
  =====================*/
  
  /*reset default font - never shall Time New Roman be seen again!*/
  
  h1,
  p,
  li,
{
    font-family: Verdana, sans-serif;
  }
  